*.class
*.DS_Store
*.lock
*.swp
.settings
target
bin
.classpath
.project
.idea
*.eml
*.iml
deploy-dev.sh
.metadata
mvnInstall.cmd
.idea/*
pom.properties
*.log
.log
*.zip
*.jar
test-output
test-output/*
*.tmp
*.iws
*.ipr
target/*
